dy,html{

	height: 100%;
	width: 100%;	
	overflow-x: hidden;				

}

.image1{
	
	background-color: #1DD3B0;
	/* #7FFFD4*/
	height: 100%;
}

.image2{

	background-color: #191716;
	height: 200%;
}



.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}


h1{

	font-size: 10vw;

}


h3{
	font-size: 3vw;
	font-weight:lighter;
  color:black;

}

h2{
	font-size: 5vw;
	font-weight:lighter;

}



#footer {
    position:fixed;
    right:40px;
    bottom:0;
    margin:0;
    padding:0;
    width:30%;
}
#footer img {

	width:100%;

}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 6px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.card{

background-color: transparent;
color: white;
}

.image3 {

background-color: #e6af2e;

}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {

	#footer{

	position:fixed;
    right:5px;
    bottom:0;
    margin:0;
    padding:0;
    width:55%;

	}

	.image1{
		justify-content: center;
		text-align: center ;
		height: 90%;
	}	

  .image2{

  	height: 250%;
  }

  .image3{
  	height: 140%;
  }

	
  .column {
    flex: 50%;
    max-width: 50%;

    }
	h1{
		font-size: 70px;
		text-align: center;

	}

    h2{
    	font-size: 50px;
    }

  h3{
    font-size: 20px;
  }  
	
}
