body,html{

	height: 100%;
	width: 100%;	
	overflow-x: hidden;				

}

.image1{
	
	background-color: #1DD3B0;
	/* #7FFFD4*/
	height: 100%;
}

.image2{

	background-color: #191716;
	height: 200%;
}

.image3{

	background-color: #e6af2e;
	height: 100%;

}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}


h1{

	font-size: 10vw;
	font-weight:lighter;
}


h3{
	font-size: 3vw;
	font-weight:lighter;

}

h2{
	font-size: 5vw;
	font-weight:lighter;

}

.row .col {

	top: 80px;
}

#footer {
    position:fixed;
    right:40px;
    bottom:0;
    margin:0;
    padding:0;
    width:30%;
}
#footer img {

	width:100%;

}

#imagenes{

	position:relative;
    left:70px;
    bottom:0;
    margin:0;
    padding:0;
    width:30%;
}

#imagenes img{

	width: 100%;

}
